@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  --background: #FFF7F0;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

.no-scrollbar {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE / Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;               /* Chrome / Safari */
}